<div class="single-col">
<section id="overview">
    <h2>Overview</h2>

    <p>
        The game deals with three kinds of properties:
    </p>
    <ul>
    <li>
        <dfn>Attributes</dfn> refer to those things that tend to stay fairly
        constant, and do not depend on knowledge—things like size, strength,
        agility, intelligence, and so on.
    </li>
    <li>
        <dfn>Skills</dfn> are learned skills, including spells.
    </li>
    <li>
        <dfn>Modifiers</dfn> are any factors that affect you. These could be
        situational modifiers, such as from being sick, poisoned, injured, or
        under the effect of a performance enhancing drug. In combat, a common
        modifier is the use of special tactics or techniques.
    </li>
    </ul>

    <p>
        When checking for success, you will roll <span roll="1d10*"></span>,
        add the
        values of the relevant skill and attribute, and any modifiers. If the
        result is greater than the <dfn>difficulty</dfn>, the roll is a success;
        if equal, a draw; if less, a failure.
    </p>
</section>



<section id="attributes_skills_and_mods">
    <h2>Attributes, skills, and modifiers</h2>
    <section id="attributes">
        <h3>Attributes</h3>

        <p>
            <em>Attributes</em> are a measure of a character’s general strengths
            and weaknesses. They are comprised of
        </p>
        <ul>
            <li>
                The <dfn>Power</dfn> attributes, which describe a character’s
                physical fitness. These are the primary attributes for warriors.
                <ul>
                    <li>Strength</li>
                    <li>Size</li>
                    <li>Toughness</li>
                </ul>
            </li>
            <li>
                The <dfn>Dexterity</dfn> attributes, the primary attributes for
                thieves.
                <ul>
                    <li>Agility</li>
                    <li>Co-ordination</li>
                    <li>Quickness</li>
                </ul>
            </li>
            <li>
                The <dfn>Mental</dfn> attributes, the most important attributes
                for scholars and wizards.
                <ul>
                    <li>Learning</li>
                    <li>Willpower</li>
                    <li>Wits</li>
                </ul>
            </li>
            <li>
                The <dfn>Social</dfn> attributes:
                <ul>
                    <li>Appearance</li>
                    <li>Charisma</li>
                    <li>Perception</li>
                </ul>
            </li>
        </ul>
        <p>
            (Depending on how detailed you want to get, you can regard these
            as either four or twelve attributes.)
        </p>
        <p>
            A character’s attributes don’t change very much over time. Although
            you <em>can</em> get stronger, faster, and so on, it’s much more
            difficult and less likely than simply improving skills.
        </p>
    </section>
    <section id="skills">
        <h3>Skills</h3>

        <p>
            Skills represent anything a character may learn: To wield a weapon, pick
            a lock, read a book in some particular language, or cast a spell.
        </p>
        <section id="skills_and_attributes">
            <h4>Skills and attributes</h4>

            <p>
                Each skill is usually related to some attribute. For example,
                hand-to-hand combat skills depend on physical co-ordination—that
                is, when you’re fighting someone, that is usually the attribute
                of interest. For this reason, skill cards will have the chief
                attribute already noted on them.
            </p>
            <p>
                However, this use is not cut in stone. Although physical
                co-ordination is clearly the talent of interest when fencing,
                there may be situations where another attribute is more
                relevant—for instance, if you’re trying to hack through a
                barrier, or hack through a purely defensive opponent’s shield
                by brute force and no finesse, Strength may matter more than
                Co-ordination. Persuasion generally relies on Charisma, but with
                the right strategy you could substitute Appearance—or even Size
                or Strength, if you’re attempting intimidation.
            </p>
            <p>
                Use your judgement to decide which attribute is more relevant to
                the situation. And by all means be creative—if you can think of
                a reason why another attribute <em>could</em> be made more
                relevant, find a way to explain how the context allows your
                character to use it. However, the GM always has final say.
            </p>
        </section>

        <section id="skill_levels">
        <h4>Skill levels</h4>

        <p>
            Very roughly, we can describe some skill levels as
        </p>
        <table>
            <thead>
            <tr>
                <th rowspan="2" colspan="2">Skill level</th>
                <th rowspan="2">Description</th>
                <th colspan="6" style="text-align:center;">Win% against<sup>&dagger;</sup></th>
            </tr>
            <tr>
                <th class="rotated"><span>Neo&shy;phyte</span></th>
                <th class="rotated"><span>Novice</span></th>
                <th class="rotated"><span>Appren&shy;tice</span></th>
                <th class="rotated"><span>Journey&shy;man</span></th>
                <th class="rotated"><span>Master</span></th>
                <th class="rotated"><span>Grand&shy;master</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="number">0</td>
                <td>Neo&shy;phyte</td>
                <td>Totally unskilled; no training.</td>
                <td class="number">46</td>
                <td class="number">19</td>
                <td class="number">6.3</td>
                <td class="number">3.0</td>
                <td class="number">1.1</td>
                <td class="number">0.5</td>
            </tr>
            <tr>
                <td class="number">4</td>
                <td>Novice</td>
                <td>
                    Some training or experience. This reflects a passing
                    familiarity with the skill or subject, but no depth of
                    knowledge. People who are exposed to skills but do not
                    particularly use them might be around this value: The
                    average person’s ability to climb, a commoner’s
                    knowledge of geography, and so on.
                </td>
                <td class="number">76</td>
                <td class="number">46</td>
                <td class="number">19</td>
                <td class="number">6.3</td>
                <td class="number">3.0</td>
                <td class="number">1.1</td>
            </tr>
            <tr>
                <td class="number">8</td>
                <td>Appren&shy;tice</td>
                <td>
                    Moderate training and experience. This is roughly how
                    skilled you might expect someone to be at things that
                    they regularly do, but do not emphasise: A farmer’s
                    skill at horseback riding, a soldier’s grasp of repair
                    skills such as leatherwork, &amp;c.
                </td>
                <td class="number">92</td>
                <td class="number">76</td>
                <td class="number">46</td>
                <td class="number">19</td>
                <td class="number">6.3</td>
                <td class="number">3.0</td>
            </tr>
            <tr>
                <td class="number">12</td>
                <td>Journey&shy;man</td>
                <td>
                    A skilled practitioner, but not a master. Literally,
                    <em>journeyman</em> refers to a craftsman who has
                    completed his apprenticeship and may charge for his
                    work, but works under the supervision of a master.
                    Most people are only this good at a few things: An
                    artisan at his craft, a guardsman with his cudgel or
                    truncheon.
                </td>
                <td class="number">96</td>
                <td class="number">92</td>
                <td class="number">76</td>
                <td class="number">46</td>
                <td class="number">19</td>
                <td class="number">6.3</td>
            </tr>
            <tr>
                <td class="number">16</td>
                <td>Master</td>
                <td>
                    Few people ever get quite this good at anything; most
                    people will end up somewhere between journeyman and
                    master levels at their trade skills by the end of their
                    careers. Someone at this level might be a guildmaster
                    artisan, a master-at-arms, or a deeply learned teacher.
                </td>
                <td class="number">99</td>
                <td class="number">96</td>
                <td class="number">92</td>
                <td class="number">76</td>
                <td class="number">46</td>
                <td class="number">19</td>
            </tr>
            <tr>
                <td class="number">20</td>
                <td>Grand&shy;master</td>
                <td>
                    A master of masters.
                </td>
                <td class="number">100</td>
                <td class="number">99</td>
                <td class="number">96</td>
                <td class="number">92</td>
                <td class="number">76</td>
                <td class="number">46</td>
            </tr>
            </tbody>
        </table>
            <aside class="comment">
                <h5>Math nerds only</h5>
                <p>
                <sup>&dagger;</sup> Note that this is the percentage chance of
                <em>winning</em> a skill check, not the chance of <em>not
                losing</em>—there’s also a chance of a draw. So, for instance,
                the master has a 76% chance of winning against the journeyman,
                but the journeyman has only a 19% chance of winning, since
                there’s a 5.4% chance of a draw. But “winning” is a pretty
                unclear notion to begin with—for example, in combat you need
                to win by <em>sufficient margin</em>, and so on—so it’s best to
                avoid getting hung up on a few percentage points hear and there
                and just regard this as a table of rules of thumb.
                </p>
            </aside>
        </section>
    </section>

    <section id="modifiers">
        <h3>Modifiers: Abilities, feats, and states</h3>

        <p>
            Modifiers are basically “anything else” that can apply to a skill
            check:
            An unusual ability, a particular aptitude, or a temporary state that
            affects
            your chance of success. These are much less systematic than skills
            and
            talents.
        </p>

        <p>
            Players don’t always get to pick their own modifiers. The GM will
            apply
            modifiers as necessary for the state the character is in, such as if
            they
            are wounded, affected by a performance enhancing drug, under the
            effect of
            a spell, or simply working under particularly favourable or
            unfavourable
            conditions.
        </p>
        <section id="modifiers_and_properties">
            <h4>Modifiers and other properties</h4>

            <p>
                Most modifiers are only relevant to some properties. For
                instance,
                the Reckless combat modifier applies to hand-to-hand weapons—you
                can
                fight recklessly—but it makes very little sense to recklessly
                read
                a book in secret runes. Some modifiers, such as magic spells,
                might
                apply directly to specific attributes. Thus, each modifier will
                specify whether it applies only to certain skills and
                attributes, or
                (as is the case for some attributes, like Injured states) to all
                checks.
            </p>
        </section>
    </section>
</section>

<section id="checks">
    <h2>Rolls and checks</h2>
    <p>
        Whenever you face a challenge where you need to use your character’s
        properties and may or may not succeed, we will simulate the effort
        by performing what’s called a <dfn>check</dfn>. Most checks are
        <dfn>skill checks</dfn>, though we’ll start by looking at
        <dfn>attribute checks</dfn>.
    </p>
    <p>
        Every time you perform a skill check, you will perform it against
        some sort of <dfn>resistance</dfn>. Depending on the
        situation, this may be an active or passive resistance. If you’re
        trying to pick a lock, you’re fighting the passive resistance of the
        difficulty of that particular lock (represented by some number).
        If you’re fighting an enemy, you’re fighting the active resistance
        of that character—who may use the same kinds of resources (talents,
        skills, modifiers) as you. Either way, you’ll end up with a
        <dfn>resistance value</dfn>: either the passive resistance
        value, or the sum of the opponent’s talent, skill, and modifiers.
    </p>

    <section id="dice_rolls">
        <h3>Rolling the dice</h3>

        <aside class="float">
            <h5>Note</h5>
            <p>
            The average value of <span roll="1d10*"></span> is 6<br/>
            (6.1 if you want to be more precise).
            </p>
        </aside>
        <p>
            Most of the rolls in the game are performed using the ten-sided die,
            the <strong>d10</strong>. Moreover, they are typically
            <em>unlimited rolls</em>—we’ll borrow a convention and denote this
            by <strong roll="1d10*"></strong>.
            This means that if you roll a 10, you may re-roll; if you
            roll <em>another</em> 10, you may re-roll again; and so on. This
            means that the roll value is theoretically unlimited, though in
            practice very high values just won’t happen unless you’re playing
            with loaded dice.
        </p>
    </section>


    <section id="attribute_checks">
        <h3>Attribute checks</h3>

        <p>
            An <dfn>attribute check</dfn> is a check of one of your character
            <em>attributes</em> against some <em>resistance</em>. For example,
            when you
            are injured, you may need to perform a Toughness check to see
            whether your character is overwhelmed by pain and incapacitated.
            Another example might be if you are attempting to pry something
            open by brute force, and perform a Strength check.
        </p>

        <p>
            To perform the check, compute your <dfn>check value</dfn>
        </p>
        {% mathblock %}
            <mi>check value</mi><mo>=</mo>
            <mi>1d10*</mi><mo>±</mo><mi>attribute</mi>
        {% endmathblock %}
        <p>
            If your check value is higher than the resistance, you succeed;
            if it is lower, you fail. If it’s equal, it’s a “draw”, the meaning
            of which depends on circumstances. For example, when prying
            something open with brute Strength, a “draw” might mean that you
            neither succeed nor conclusively fail at the task but may try
            again.
        </p>

        <p>
            If you are checking an attribute against an <em>opponent</em>,
            the resistance is their check value.
        </p>
    </section>

    <section id="skill_checks">
        <h3>Skill checks</h3>

        <aside class="example float">
            <h5>Example</h5>
            <p>
                Terrick is fighting a duel with Mandor. Terrick has the following cards:
            </p>
            <ul>
                <li>Talent: Precision {{ 2|bonus }}</li>
                <li>Skill: Sidesword {{ 7|bonus }}</li>
                <li>Modifiers: Injured {{ -1|bonus }}</li>
            </ul>
            <p>Meanwhile Mandor plays the following:</p>
            <ul>
                <li>Talent: Precision {{ 3|bonus }}</li>
                <li>Skill: Sidesword {{ 12|bonus }}</li>
                <li>Modifiers: Injured {{ -2|bonus }}</li>
            </ul>
            <p>
                We can see that Terrick’s properties add up to a value of
                {{ 8|bonus }}, while Mandor’s add up to {{ 13|bonus }}—a considerable
                advantage. Terrick rolls
            </p>
            {% mathblock %}
                2<mo>+</mo><mn>7</mn><mo>-</mo>1<mo>+</mo>
                <mo>[</mo><mi>1d10*</mi><mo>&RightArrow;</mo><mn>9</mn><mo>]</mo>
                <mo>=</mo>17
            {% endmathblock %}
            <p>
                while his opponent rolls
            </p>
            {% mathblock %}
                3<mo>+</mo>12<mo>-</mo>2<mo>+</mo>
                <mo>[</mo>1d10*<mo>&RightArrow;</mo>2<mo>]</mo>
                <mo>=</mo>15
            {% endmathblock %}
            <p>
                Terrick, with great luck, wins the exchange by a margin of
                {% math %}17<mo>-</mo>15<mo>=</mo>2{% endmath %}.
            </p>
        </aside>

        <p>
            Most checks are <dfn>skill checks</dfn>, where you are comparing
            a <em>skill</em> against a resistance. However, skills are
            always aided by attributes and natural aptitude—given equal
            technical skill, people with naturally good co-ordination will fight
            better; a more agile person will climb better. This is reflected
            in that you get to count an attribute value <em>as well as</em>
            your skill value.

            To perform a skill check, roll <span roll="1d10*"></span> and add
            your stats:
        </p>
        {% mathblock %}
            check value
                <mo>=</mo>1d10*
                <mo>+</mo>skill value
                <mo>±</mo>attribute
                <mo>±</mo>modifiers
        {% endmathblock %}
        <p>
            Compare this to the difficulty or resistance value. If you are
            contending with an active opponent, this will be a similar roll.
            If your <dfn>check value</dfn> is greater than the resistance, your
            check is <dfn>successful</dfn>. If it’s less, your check
            <dfn>fails</dfn>. If the values are equal, it’s a <dfn>draw</dfn>.
            Often, the <dfn>margin</dfn> is meaningful, so take note of it.
        </p>

        <p>
            Note that most of the time, a skill is associated with a specific, given
            attribute, so rather than have to add them up every time you roll,
            you’ll note the sum on your card and just roll
        </p>
        {% mathblock %}
            check value
            <mo>=</mo>1d10*
            <mo>+</mo><mo>[</mo>skill &amp; attribute<mo>]</mo>
            <mo>±</mo>modifiers
        {% endmathblock %}
        <p>
            And since there often are no modifiers, it boils down to
        </p>
        {% mathblock %}
            check value
            <mo>=</mo>1d10*
            <mo>+</mo><mo>[</mo>skill &amp; attribute<mo>]</mo>
        {% endmathblock %}

        <aside class="stats">
            <h5>Notes</h5>

            <p>Very roughly, given equally matched opponents,</p>
            <ul>
                <li>50% of the time, the difference is &le;3.</li>
                <li>75% of the time, the difference is &le;7.</li>
                <li>90% of the time, the difference is &le;10.</li>
            </ul>
        </aside>
    </section>

    <section id="substitutions">
        <h3>Substitutions</h3>
        <p>
            We briefly mentioned earlier that you can <em>substitute</em> one
            property for another. For example, supposing you are adept with the
            longsword, but are forced to fight with nothing to hand but an arming
            sword, you’ll surely have some idea of what to do with it—although
            you’re unlikely to match someone specifically trained with the
            sidesword. Indeed, a truly masterful warrior may well be able to pick
            up just about <em>any</em> weapon with at least some proficiency.
        </p>
        <p>
            This is reflected in that skills are presented in hierarchies, such
            as “Hand-to-hand combat » Sword » Longsword”. For each “level” away from
            your own skill, you suffer a {{-2|bonus}} penalty. Thus with a
            Longsword skill of 6, you can wield any sword at a level of 4, and
            any hand-to-hand weapon with a value of 2.
        </p>
    </section>
</section>
<section id="taking_your_time">
    <h3>Taking your time, and skills that don’t require rolls</h3>
    <p>
        When you can afford to take your time, and when a skill check is not
        a contest against an active opponent, it doesn’t make very much sense
        to require a roll of the dice. Under such circumstances, you may simply
        assume that you roll the average outcome,
        <strong>
            {% math %}
                <mi>1d10</mi><mo>&RightArrow;</mo><mn>6</mn>
            {% endmath %}
        </strong>.
    </p>
    <p>
        With some skills, it rarely if ever makes sense to roll. For example,
        language skills serve to measure how good you are at speaking a
        language—there’s not much room for an element of chance. However, even
        with such skills there may be special circumstances where you want to
        roll—to see whether you can translate the arcane runes in the brief
        moment before you must flee; or when facing an opponent in a contest
        to compose the better rhetoric. You should
        use your judgement (in particular, the GM should!) to decide when it
        makes sense to roll.
    </p>
</section>


<section id="points_and_values">
    <h2>Points and values</h2>

    <p>
        Each property has two values: A number of <dfn>points</dfn>
        representing how much you have “put into” it in terms of training,
        experience, and so on, and its <dfn>value</dfn>, representing how
        good you are at it.
    </p>
    <aside class="float">
        <h5>Math nerds only</h5>
        {% mathblock %}
            <mtable columnalign="right left">
            <mtr>
                <mtd style="text-align: right;" columnalign="right">
                    <mrow><mi>cost</mi></mrow>
                </mtd>
                <mtd style="text-align: left;" columnalign="left">
                    <mrow>
                        <mo>=</mo>
                        <munderover>
                            <mo>&Sum;</mo>
                            <mrow>
                                <mi>n</mi>
                                <mo>=</mo>
                                <mn>1</mn>
                            </mrow>
                            <mrow>
                                <mn>value</mn>
                            </mrow>
                        </munderover>
                        <mi>n</mi>
                    </mrow>
                </mtd>
            </mtr>
            <mtr>
                <mtd columnalign="right"><mrow></mrow></mtd>
                <mtd columnalign="left">
                    <mo>=</mo>
                    <mfrac>
                        <mrow><mi>value</mi><mo>&#xD7;</mo><mo>(</mo><mi>value</mi><mo>+</mo><mn>1</mn><mo>)</mo></mrow>
                        <mrow><mn>2</mn></mrow>
                    </mfrac>
                </mtd>
            </mtr>
            <mtr>
                <mtd style="text-align: right;" columnalign="right">
                    <mrow><mo>&there4;</mo><mi>value</mi></mrow>
                </mtd>
                <mtd columnalign="left">
                    <mrow>
                        <mo>=</mo>
                        <mo>&LeftFloor;</mo>
                        <mfrac>
                            <mrow>
                                <msqrt>
                                    <mrow><mn>8</mn><mo>&#xD7;</mo><mi>points</mi><mo>+</mo><mn>1</mn></mrow>
                                </msqrt>
                                <mo>-</mo>
                                <mn>1</mn>
                            </mrow>
                            <mrow>
                                <mn>2</mn>
                            </mrow>
                        </mfrac>
                        <mo>&RightFloor;</mo>
                    </mrow>
                </mtd>
            </mtr>
            </mtable>
        {% endmathblock %}
    </aside>

    <p>
        Every value starts at 0, and it costs 1 point to improve it to 1,
        another 2 points to improve it to 2, and so on. Summarised, the
        costs work out as follows:
    </p>

    <table>
        <thead><tr>
            <th>Value</th>
            <th style="padding-left:0.5em;">Point cost</th>
        </tr></thead>
        <tbody>
        {% for sv, exp in sv_exp_list %}
            <tr>
            <td class="number">{{ sv }}</td>
            <td class="number">{{ exp }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
        This is typically represented by <em>cards</em>. Every time you
        perform a check, you will select one or more cards from your stack (at
        least an attribute; often a skill; maybe one or more modifiers). If you
        are performing a check against an opponent, you should hide your hand
        until both have selected their cards.
    </p>

    <section id="skill_difficulty">
        <h3>Difficulty</h3>
        <aside class="float">
            <h5>Math nerds only</h5>
            <p>
                If {%math%}difficulty<mo>&gt;</mo>0{%endmath%}, then we need
                to use
            </p>
            {% mathblock %}
            <mrow>
                <mi>value</mi>
                <mo>=</mo>
                <mo>&LeftFloor;</mo>
                <mfrac>
                    <mrow>
                        <msqrt>
                            <mrow><mn>8</mn><mo>&#xD7;</mo><mi>points</mi><mo>+</mo><mn>1</mn></mrow>
                        </msqrt>
                        <mo>-</mo>
                        <mn>1</mn>
                    </mrow>
                    <mrow>
                        <mn>2</mn>
                    </mrow>
                </mfrac>
                <mo>&RightFloor;</mo>
                <mo>-</mo>
                <mi>difficulty</mi>
            </mrow>
            {% endmathblock %}
        </aside>
        <p>
            Some skills can be attempted by pretty much anyone, though odds are
            that most people won’t be any good at them until they gain
            experience. Other skills require training before they can be used
            at all. Anyone can pick up a sword and swing it, however wildly and
            crudely, and in fact even the completely untrained can kill with a
            sword—though they will be swiftly cut down by an adept. On the
            other hand, one completely untutored in a language has no chance at
            all of speaking it.
        </p>
        <p>
            To reflect this, some skills have a <dfn>difficulty</dfn> associated
            with them. This is to be subtracted from your skill value. It is
            rather as if, with a skill with difficulty 2, you start with a
            value of {{-2|bonus}}, and need to get 3 points worth of training
            just to work your way up to 0.
        </p>
        <p>
            In order to <em>use</em> a skill, you must have at least a value of
            0 in it, reflecting the kind of vague grasp of the concepts required
            to attempt it and learn by trial and error. Thus, for skills with
            difficulty 0, anyone can attempt them and eventually learn. For
            skills with higher difficulty, you’ll need training before you can
            use them at all. This value refers to the plain skill value, before
            applying any attributes or modifiers.
        </p>
    </section>

    <section id="skill_trees">
        <h3>Skill trees</h3>
        <p>
            Some skills are intrinsically connected, and expertise at one will
            translate into competence with another. For instance, a master of
            the longsword will not be helpless with a sidesword; a blacksmith
            has some idea of goldsmithing; a scholar deeply learned in
            statecraft and politics will pick up some facts of geography.
        </p>
        <p>
            This is reflected in skills being organised in <dfn>trees</dfn>:
            A <dfn>skill</dfn> is a member of a <dfn>skill group</dfn>, which
            is part of a still more general <dfn>skill category</dfn>.
            You cannot specifically train or learn the “parent” skills—the
            groups and categories. Instead, they correspond to the general knowledge
            you gain of a broader subject as you study its specifics.
        </p>
        <p>
            As an example, the <em>skill category</em> Unarmed Combat contains
            <em>skill groups</em> such as Sword and Polearm. Meanwhile, the
            Sword group contains specific <em>skills</em> like Longsword and
            Sidesword.
        </p>
        <aside class="float">
            <h5>Math nerds only</h5>
            <p>
                In other words, the parent points are
            </p>
            {% mathblock %}
                <mrow>
                    <mi>group points</mi>
                    <mo>=</mo>
                    <mo>&LeftFloor;</mo>
                    <mfrac>
                        <mrow>
                            <mi>skill points</mi>
                        </mrow>
                        <mrow>
                            <mn>3</mn>
                        </mrow>
                    </mfrac>
                    <mo>&RightFloor;</mo>
                </mrow>
            {% endmathblock %}
            <p>The same relationship holds for group-to-category, so</p>
            {% mathblock %}
            <mrow>
                <mi>category points</mi>
                <mo>=</mo>
                <mo>&LeftFloor;</mo>
                <mfrac>
                    <mrow>
                        <mi>group points</mi>
                    </mrow>
                    <mrow>
                        <mn>3</mn>
                    </mrow>
                </mfrac>
                <mo>&RightFloor;</mo>
                <mo>=</mo>
                <mo>&LeftFloor;</mo>
                <mfrac>
                    <mrow>
                        <mi>skill points</mi>
                    </mrow>
                    <mrow>
                        <mn>9</mn>
                    </mrow>
                </mfrac>
                <mo>&RightFloor;</mo>
            </mrow>
            {% endmathblock %}
        </aside>
        <p>
            In the rules, this is reflected as follows:
        </p>
        <ul>
            <li>
                When placing points in a specific skill, every third point goes
                to the skill group instead.
            </li>
            <li>
                When thus placing points in a skill group, every third point goes
                to the category instead.
            </li>
            <li>
                You <em>don’t</em> get to count the same point twice. Thas is, if
                you place 3 points in a skill, you get 1 point in its skill group,
                but you then effectively subtract it from the skill itself.
            </li>
        </ul>
        <p>
            If you only have one skill under a category (for example, you are
            trained in the use of only one kind of weapon), you can mostly ignore
            this, since the value ends up being precisely the same anyway.
        </p>
        <p>
            This means that a character who entirely lacks training in a given
            skill may be able to use it, may even be quite good at it, simply
            because he is trained in a similar one. A master of the longsword
            may not <em>excel</em> with the sidesword, but will nonetheless easily
            defeat the untrained. Hand him even a polearm, and though the
            techniques are very different, he will nonetheless build on a solid
            understanding of measure, timing, and body mechanics.
        </p>
    </section>

    <section id="attribute_trees">
        <h3>Attribute trees</h3>
        <p>
            Attribute trees work for attributes exactly as skill trees do for
            skills, with the sole exception that there are only two levels:
            Rather than skills, groups, and categories there are attributes
            and attribute categories.
        </p>
    </section>

    <section id="improving">
        <h3>Improving values</h3>
        <p>
            Every time you use a skill or face a challenge, you stand a chance
            of improving one of your values.
        </p>
        <ul>
            <li>
                If you roll a double 10 (roll <span roll="1d10*"></span> for 10,
                re-roll, and roll another 10), you gain an experience point in
                the skill used.
            </li>
            <li>
                If you roll a <em>triple</em> 10, you also gain a point to the
                <em>attribute</em> used. Obviously, this is extremely rare. It
                also doesn’t apply to all attributes—you may get stronger from
                using skills that rely on strength, but you will not grow larger
                from using skills that exploit size.
            </li>
        </ul>
    </section>

    <section id="starting_points">
        <h3>Starting points</h3>
        <p>
            Journeyman = 78 points. Apprentice = 36 points. Novice = 10 points.
            1×journeyman + 3×apprentice + 5×novice = 236 points.
            Start with 250 skill points.
        </p>
        <p>
            Human +4 to all attrs. 13pts/attr -> 6+4=10 in each attr. 13*9=117pts.
            150pts?
        </p>
        <p>
            Men: +1 Power.
            Women: +1 Social, +1 Agility, -1 Strength.
        </p>
    </section>
</section>
</div>
