<form class="form-horizontal" role="form">
  <div class="form-group row">
    <div class="col-md-3 text-center"><strong>Skill</strong></div>
    <div class="col-lg-2 col-sm-4 text-center"><strong>Points</strong></div>
    <div class="col-lg-1 col-sm-2 text-center"><strong>Value</strong></div>
    <div class="col-lg-1 col-sm-2 text-center"><strong>—</strong></div>
  </div>
  <div class="form-group row" ng-repeat="a in attributes|orderBy:'name'">
    <div class="col-lg-3">
      <p class="form-control-static">{{a.name}} ({{a.children.length||0}} children)</p>
    </div>
    <div class="col-lg-2 col-sm-4">
      <label for="attr-points-{{a._id}}" class="sr-only" ng-bind="a.name"></label>
      <input class="form-control"
          id="attr-points-{{a._id}}" type="number" ng-model="a.points"/>
    </div>
    <div class="col-lg-1 col-sm-2 text-right">
      <p class="form-control-static">{{a.value|number:0}}</p>
    </div>
    <div class="col-lg-1 col-sm-2 text-right">
      <p class="form-control-static text-muted">{{a.accumulatedPoints|number:0}}|{{a.effectivePoints|number:0}}</p>
    </div>
    <div class="col-lg-2 col-sm-4" ng-if="a.d3data.length" style="min-height:200px">
      <nvd3-multi-bar-horizontal-chart
        ng-if="a.d3data"
        data="a.d3data"
        id="sv-{{a._id}}-vs"

        showValues="true"
        valueFormat="formatPercentage"
        tooltipcontent="mkTooltip"
        color="getColour"

        showxaxis="true"
        showyaxis="true"
        yaxistickformat="formatPercentage"
        forcey="[0, 100]"
        clipedge="true"
        interactive="true"
        tooltips="true"
        margin="margin"
      >
          <svg style="width:300px;height:200px;"></svg>
      </nvd3-multi-bar-horizontal-chart>
        <!--<span ng-bind="e.description"></span>:-->
        <!--<span ng-bind="e.chance|number:2"></span>%-->
      <!--xAxisTickFormat="xAxisTickFormatFunction()"-->
        <!--yAxisTickFormat="yAxisTickFormatFunction()"-->
        <!---->
    </div>
  </div>
</form>


