<form role="form">
  <div class="form-group">
    <label for="attribute-parent">Parent</label>
    <select id="attribute-parent"
            class="form-control"
            ng-model="attribute.parent"
            ng-options="a._id as a.name for a in attributes"></select>
  </div>
  <div class="form-group">
    <label for="attribute-name">Name</label>
    <input id="attribute-name" class="form-control" ng-model="attribute.name" placeholder="Name"/>
  </div>
  <div class="form-group">
    <label for="attribute-description">Description</label>
    <input id="attribute-description" class="form-control" ng-model="attribute.description" placeholder="Description"/>
  </div>
  <div class="form-group">
    <button class="btn btn-primary" ng-click="saveAttribute()">Save</button>
  </div>
</form>
