<!doctype html>
<html>
<head>
  <title>Quoth the raven, “404”</title>
</head>
<body>
  <h1>Quoth the raven, <q>404</q></h1>
  <main>
    <p>
        Alas, there is no such page as…<q>{{url}}</q>.
    </p>
  </main>
</body>
</html>
