<div class="row danger">
    <h1>Quoth the raven, <q>404!</q></h1>
</div>
<div class="row">
    <p>
        Alas, there is no such page as <q>{{url}}</q>.
        Perhaps you had best
      <a href="javascript:window.history.back();">return whence thou came</a>.
    </p>
    <p>
        While on the subject of the genus <i>Corvus</i>, though,
        I can recommend
        <a href="http://corvidblog.tumblr.com/">this Corvid Blog</a>,
        so thy sojourn here hath been not all in vain.
    </p>
</div>
